bin/
build/
.gradle
.idea
ipch
utils/Omni/bin/
utils/resbuilder/
__pycache__/
.vscode/settings.json
macros.json

*.aps
*.opendb
*.ncb
*.iml
*.sdf
*.opensdf
*.suo
*.user
*.obj
*.ilk
*.lib
*.exe
*.dll
*.exp
*.pdb
*.idb
*.VC.db
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.ipch
*.dep
*.res
*.embed.manifest
*.pyc
*.sublime-workspace
.DS_Store
BuildLog.htm
Thumbs.db
log.htm
GfxFileInfo.xml

*.so
*.a
*.o
*.o.d

*.patch
*.diff

.vs
*.log
*.enc

# Ignore NuGet Packages
*.nupkg

# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*

# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config

# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Ignore other intermediate files that NuGet might create. project.lock.json is used in conjunction
# with project.json (NuGet v3); project.assets.json is used in conjunction with the PackageReference
# format (NuGet v4 and .NET Core).
project.lock.json
project.assets.json


x64
Debug
Release
GTestMatrixMultiplication/x64/Debug/
